<ion-view view-title="Amuse FEED">
  <ion-content ng-controller="TilesCtrl">
    <ion-list>
      <ion-item ng-repeat="tile in tiles track by $index" ng-click="tile()">
        

      {{tile.title}}

<!--       <div class="row">
        <div class="col col-50">{{tile.title}}</div>
        <div class="col">{{tile.title}}</div>
      </div> -->

      </ion-item>
    </ion-list>

    <!-- SAM: attempt to add infinite scroll -->
        <ion-infinite-scroll on-infinite="addTiles()"></ion-infinite-scroll>

  </ion-content>
</ion-view>
